body {
        background: url(images/image.jpeg);
        
     }        

.Btn_Index{
       width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 35%;
        border-radius: 4px;
        font-size: 2rem;
} 


.Hobbies-button{
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 35%;
        border-radius: 4px;
        font-size: 2rem;
}

.greenwood-btn {
        width: 150px;
        height: 38px;
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        font-size: 13px;
}

.button-kidsAZ{
        width: 150px;
        height: 38px;
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        font-size: 1rem;
}

.Mind-Button{
        width: 150px;
        height: 38px;
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        font-size: 1rem;
}

.Study-button{
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 2%;
        border-radius: 4px;
        font-size: 2rem;
}

.Index-button {
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 35%;
        border-radius: 4px;
        font-size: 1.5rem;
}

.Hobbies-button2{
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 2%;
        border-radius: 4px;
        font-size: 1.5rem;
}

.Study2-button{
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        margin-left: 2%;
        border-radius: 4px;
        font-size: 2rem;
        margin-bottom: 2%;
}

.container{
        align-items: center;
}



